table.stats
{
	width: 705px;
}
.canvas
{
	margin-bottom: 18px;
	border: 1px solid #ccc;
}
.canvas.n-1
{
	border-top: 0;
}

@media (min-width: 1200px)
{
	table.stats
	{
		width: 885px;
	}
	.preview_html {
		width: 883px;
	}
}
